:root{
    --orange-heading-color :#ba5d2c;
    --blue-color : #617D98;
    --dark-blue-color :#324D67;
}
body{
    padding: 0;
    margin:  0;
    background-color: #F1F5F8;
}
.section{
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;;
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 3rem auto;
    text-transform: capitalize;
}
.title{
   
     margin-top: -1rem;
}
.title h2{
    color: var(--dark-blue-color);
      font-size: 40px;
    line-height: 40px;
    font-weight: 500;
}
.title h2 span{
      font-size: 34px;
    line-height: 34px;
Color:var(--orange-heading-color);
    font-weight: 700;

  
}
.section-center{
    position: relative;
    height: 100%;
    min-height: 450px;
    width: 100%;
    overflow: hidden;

}
article{
    position: absolute;
    top: 0;   
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: all 0.5s;
    

}
.person-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(188,204,220,1);
-moz-box-shadow: 0px 0px 10px 3px rgba(188,204,220,1);
box-shadow: 0px 0px 10px 3px rgba(188,204,220,1);


}

.section-center h4{
    color: var(--orange-heading-color);
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;


}
.text{
    font-size: 16px;
    line-height: 32px;
    color: var(--dark-blue-color);
    text-align: center;
    margin: 1.5rem 1rem 0 1rem;
    color: var(--dark-blue-color);
}
.icon{
    color : var(--orange-heading-color);
   font-size: 48px;
line-height: 72px;
margin-top: 1rem;
}
.prev,
.next{

    position: absolute;
    top: 200px;
    background: var(--dark-blue-color);
     border-color: transparent;
     color: white;
    border-radius: 10%;
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
     cursor: pointer;
     display: flex;
    flex-direction: column;
    align-items: center;
}
.prev:hover,
.next:hover{
background-color: var(--orange-heading-color);
}
.next{
    right: 0;
}
.prev{
    left : 0;
}

@media (max-width: 800px) {
    .prev,
    .next{
        
        max-width: 1.25rem;
        max-height: 1.25rem;


    }
    .text {
        font-size: 0.75rem;
  }
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
    opacity: 0;

 
  transform: translateX(-100%);
}
article.nextSlide {
    opacity: 0;
  transform: translateX(100%);
}


